.shift-swap-form {
  max-width: 500px;
  margin: 0 auto;
}

.card-header {
  text-align: center;
  background-image:linear-gradient(to right, red, blue);
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:white;
  
}

.shift-swap-form form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.shift-swap-form div {
  margin-bottom: 15px;
}

.shift-swap-form label {
  display: block;
  margin-bottom: 5px;
}

.shift-swap-form input[type="date"],
.shift-swap-form textarea,
.shift-swap-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.shift-swap-form select {
  height: 38px;
}

.shift-swap-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.shift-swap-form button[type="submit"]:hover {
  background-color: #45a049;
}
