@media print {
  body {
    -webkit-print-color-adjust: exact; /* Chrome, Safari */
    
    margin-left: 20px; /* Set the margin size */
    margin-right: 20px;
  }

  .report-header {
    text-align: center;
    color:blue;
    margin-bottom: 20px;
  }

  .report-header h1 {
    margin: 0;
    font-size: 24px;
  }

  .report-header p {
    margin: 0;
    font-size: 14px;
  }

  .shiftScheduleTable {
    margin: 20px;
    border-collapse: collapse;
    width: 100%;
  }

  .shiftScheduleTable th, .shiftScheduleTable td {
    border: 1px solid black;
    padding: 8px;
  }

  .shiftScheduleTable th {
    background-color: #f2f2f2;
    color: black;
    text-align: center;
  }

  .shiftScheduleTable td {
    text-align: center;
  }

  .shiftScheduleTableContainer {
    width: 100%;
  }

  h4 {
    text-align: center;
    color: black;
    text-decoration: underline;
  }

  .btn {
    display: none; /* Hide print button in print */
  }
}
