#main {
  display: flex;
  justify-content: center; /* Center the boxes horizontally */
  padding: 16px;
}



.employee-image-container {
  display: flex;
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */

}

.employee-image {
  max-width: 100%;
  max-height: 100%;
}
